<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>Purchase Detail Update</title>
</head>
<body>
  <div class="topnav">
    <div class="d-flex justify-content-between">
      <div>
        <a href='/liquorshop/owner-homepage'>Liquor Shop Management</a>
        <a href='#'>[[${user}]]</a>
      </div>
      <div>
        <a href='/logout'>LogOut</a>
      </div>
    </div>
  </div><br>
  <div class="container detail-update-left pt-5">
    <div class="col-lg-10 card-header">
      <h3>Pruchase Detail Update</h3>
      <div th:if="${quantityError}" class="alert alert-danger">[[${quantityError}]]<br></div>
      <form th:method="patch" th:action="@{/liquorshop/owner-homepage/purchase_history/{purchase_id}/detail/{detail_id}/detail_update(purchase_id=${purchase_id}, detail_id=${detail_id})}" th:object="${purchaseDetail}" novalidate>
        <div>
          <label for="product_name" th:text="#{product_name}"></label><br>
          <select name="product_name" id="product_name" onchange="showProduct()">
            <option th:each="product: ${products}" th:value="${product.product_name} + ',' + ${product.product_category} + ',' + ${product.product_type}" th:text="${product.product_name}" th:selected="${product.product_name==purchaseDetail.product_name}" />
          </select>
          <div class="invalid-feedback"
            th:errors="*{product_name}">
          </div>
        </div>
        <div>
          <label for="price" th:text="#{price}"></label><br>
          <input type="number" th:field="*{price}" class="form-control" th:errorclass="is-invalid" >
          <div class="invalid-feedback err-color"
            th:errors="*{price}">
          </div>
        </div>
        <div>
          <label for="product_category" th:text="#{category}"></label><br>
            <select name="product_category" id="category">
              <option value="whisky" th:if="*{product_category} == whisky" selected>Whisky</option>
              <option value="beer" th:if="*{product_category} == beer" selected>Beer</option>
              <option value="wine" th:if="*{product_category} == wine" selected>Wine</option>
              <option value="whisky">Whisky</option>
              <option value="beer">Beer</option>
              <option value="wine">Wine</option>
            </select>
          <div class="invalid-feedback err-color"
            th:errors="*{product_category}">
          </div>
        </div>
        <div>
          <label for="product_type" th:text="#{type}"></label><br>
            <select name="product_type" id="type">
              <option value="can" th:if="*{product_type} == can" selected>Can</option>
              <option value="bottle" th:if="*{product_type} == bottle" selected>Bottle</option>
              <option value="can">Can</option>
              <option value="bottle">Bottle</option>
            </select>
          <div class="invalid-feedback err-color"
            th:errors="*{product_type}">
          </div>
        </div>
        <div>
          <label for="quantity" th:text="#{quantity}"></label><br>
          <input type="number" th:field="*{quantity}" class="form-control" th:errorclass="is-invalid" >
          Remaining Stock => [[${stock}]]
          <div class="invalid-feedback err-color"
            th:errors="*{quantity}">
          </div>
        </div>
        <div>
          <input type="hidden" th:field="*{total_amount}" class="form-control" th:errorclass="is-invalid" >
        </div>
        <div>
          <input type="hidden" th:field="*{purchase}" class="form-control" th:errorclass="is-invalid" >
        </div>

        <div>
          <input type="hidden" th:field="*{final_total}" class="form-control" th:errorclass="is-invalid" >
        </div><br>
        
        <button class="btn btn-dark" type="submit" >
          Update
        </button>
      </form><br>
      <div class="row">
        <div class="col-lg-3">
          <a th:href="@{/liquorshop/owner-homepage/purchase_history/{id}/detail(id=${purchase_id})}" class="btn btn-dark btn-sm mn-3">Back</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<script type="text/javascript">
  function showProduct(){
    var testArr = document.getElementById("product_name").value.split(',');
    console.log(testArr);
    document.getElementById("category").value = testArr[1];
    document.getElementById("type").value = testArr[2];
  };
</script>